@model IEnumerable<Pet_Care_Centre_MVC.Models.PetCareSession>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage Sessions</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CareTaker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CareTaker.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                <a  class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a  class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a  class="btn btn-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
